# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs



# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# Docker/Singularity
**/*.sif
docker/cluster/exports/
docker/.container.cfg



# Outputs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp

# Doc Outputs
**/docs/_build/*
**/generated/*

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# RL-Games
**/runs/*
**/logs/*
**/recordings/*

#daes 
**/*.dae
**/.dae/

datasets/go2_description/dae/calf_mirror.dae
datasets/go2_description/dae/calf.dae
datasets/go2_description/dae/foot.dae
datasets/go2_description/dae/hip.dae
datasets/go2_description/dae/thigh_mirror.dae
datasets/go2_description/dae/thigh.dae
